body {
    background-image: url("/midterm part/website/pics/webbgimg1.png");
    background-size: cover;
}

#left-bg {
    position: fixed;
    height: 100%;
    width: 60%;
    background-image: url("/midterm part/website/pics/webbgimg2.png");
    background-size: auto;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#company-logo {
    width: 50px;
    margin-right: 10px;
}

#company-name {
    font-size: 18px;
}

#menu li a:hover {
    background-color: rgb(27, 27, 26);
}

#menu a {
    color: #FFF;
}

#content {
    color: white;
    position: fixed;
    top: 35vh;
    left: 110vh;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(228, 221, 221);
    padding: 50px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.5);
    background-color: rgb(35, 66, 203);
}

.btn:active {
    transform: translateY(-3px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.btn:hover::after {
    background-color: rgb(35, 66, 203);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}
