body {
    background-image: url("/midterm part/website/pics/webbgimg1.png");
    background-size: cover;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#company-logo {
    width: 50px;
    margin-right: 10px;
}

#company-name {
    font-size: 18px;
}

#menu li a:hover {
    background-color: rgb(27, 27, 26);
}

#menu a {
    color: #FFF;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none;
}

.content {
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery img {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(1.05);
}
